# pyproject.toml
[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--color=yes --cov-report=xml --cov-report=term --cov=sira"
testpaths = ["tests"]
filterwarnings = "ignore::DeprecationWarning"
log_cli = 1
log_cli_level = "ERROR"
log_cli_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
markers = [
    "modelrun: marks tests of direct model runs",
    "bad_or_missing_inputfile: checks code for incorrectly named or missing input files",
    "missinginputdir: checks for missing input directory",
    "algorithms: marks tests for responsemodels",
    "modelfitting: tests for fitting distribution models to exceedance probability data",
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
    "integration: marks integration tests"
]

[tool.coverage.paths]
source = ["sira"]

[tool.coverage.run]
branch = false
omit = [
    "./sira/tools/*",
    "*/tests/*"
]

[tool.coverage.report]
skip_empty = true
show_missing = false
ignore_errors = true

[tool.flake8]
max-line-length = 100
inline-quotes = "double"
exclude = [".git", ".venv", "__pycache__"]
ignore = ["E211", "E266", "E302", "E305", "E402", "E502", "F401", "F841", "W503"]
extend-ignore = [
    # See https://github.com/PyCQA/pycodestyle/issues/373
    "E203"
]
per-file-ignores = [
    "sira/__main__.py:E402",  # module level import not at top of file
    "__init__.py:F401",  # imported but unused
    "sira/fit_model.py:E0611"  # scipy.special is a C lib and flake8 cannot see into it
]

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["E", "F", "W", "Q", "I"]
ignore = ["E203"]