name: Deploy Sphinx documentation to Pages

on:
  push:
    branches:
      - master  # or master, the branch you push your source code to

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python3 -m pip install -U setuptools
          sudo apt install --reinstall python3-pkg-resources python3-setuptools
          python3 -m pip install sphinx sphinx-rtd-theme # install Sphinx and a theme
          python3 -m pip install pybtex pybtex-docutils
          python3 -m pip install sphinxcontrib-bibtex
          python3 -m pip install kroki sphinxcontrib-kroki
          # Add any other required dependencies here
      - name: Build HTML documentation
        run: |
          cd docs
          make html
      - name: Add .nojekyll file
        run: touch docs/build/html/.nojekyll
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
